{% extends 'base.html' %}

{% block title %}Rejestracja{% endblock %}

{% block footer %}
	<script src="/js/hideShowPassword.min.js"></script>
	<script src="/js/app.js"></script>
	
	<script>
		$(document).ready(function() {
		
			/**
			 * Validate the form 
			 */
			$('#formSignup').validate({
				rules: {
					name: 'required',
					email: {
						required: true,
						email: true,
						remote: '/account/validate-email'
					},
					password: {
						required: true,
						minlength: 6,
						validPassword: true
					}
				},
				messages: {
					name: 'To pole jest wymagane.',
					password: {
						required: 'To pole jest wymagane.',
						minlength: 'Hasło musi zawierać co najmniej 6 znaków.'
					},
					email: {
						required: 'To pole jest wymagane.',
						email: 'Niepoprawny adres email.',
						remote: 'Podany adres email jest już zajęty.'
					}
				}
			});
			
			
			/**
			 * Show password toggle button 
			 */
			const passwordField = document.querySelector("#inputPassword");
			const eyeIcon= document.querySelector("#eye");
	  
			eye.addEventListener("click", function(){
			this.classList.toggle("fa-eye-slash");
			const type = passwordField.getAttribute("type") === "password" ? "text" : "password";
			passwordField.setAttribute("type", type);
			});
		});
	</script>

{% endblock %}

{% block body %}
	
    <main>
		<div class="container col-lg-9 text-center">
			<div class="row mx-auto">
				<section id="text" class="col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 col-xl-4 bg-ligh mt-4 mx-auto text-center">
					<h3 class="fs-4 fw-bold">Kontrola budżetu? Tak!</h3>
					<p class="mb-2"><b>Osobisty Menadżer Budżetu</b> jest to program stworzony z myślą o osobach, które kontrolują swoje fianse na papierze, bądź chcą dopiero zacząć. Jeśli męczy Cię już ciągłe spisywanie swoich przychodów i wydatków na kolejnych kartkach papieru, a pod koniec miesiąca i tak jest Ci ciężko oszacować czy w danym miesiącu jesteś na plusie czy na minusie, to ten program jest właśnie dla Ciebie! </p><p>Przecież niekontrolowane wydatki to przypuszczalne oszędności :-)</p>

					<h3 class="fs-4 fw-bold">Jak to działa?</h3>
					<p>Bardzo prosto. Logujemy się na swoje konto, a następnie z menu głównego wybieramy odpowiednią zakładkę. <br/>Chcąc dodać przychód do naszych finansów, wybieramy <b>"Dodaj przychód"</b>, zaznaczamy odpowiednią datę oraz rodzaj przychodu. <br/>Jeśli jest to wydatek klikamy <b>"Dodaj wydatek"</b> i wypełniamy analogicznie jak przy przychodzie. <br/>Natomiast, jeżeli interesuje nas zestawienie przychodów i rozchodów wybieramy <b>"Przeglądaj bilans"</b>. Tam korzystając z opcji wyboru daty możemy w prosty sposób dowiedzieć się czy w interesującym nas okresie nasze finanse są na plusie czy na minusie, no i przede wszystkim <b>ILE</b> ta kwota wynosi.</p> 
				</section>
				
				<section class="row content col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 col-xl-4 bg-white my-auto mx-auto">
				
					<div class="mx-auto mt-4 mb-2">			
							<div class="selected" style="width: 140px;"><h3 class="fs-5 fw-bold">Rejestracja</h3></div>
							<a href="/home/index"><div class="noselected ms-2" style="width: 140px;"><h3 class="fs-5 fw-bold">Logowanie</h3></div></a>	
					</div>
					
					<div class="col-md-8 col-lg-9 mx-auto">
						<form class="row mx-auto align-items-center" method="post" action="/signup/create" id="formSignup">

							<div class="input-group my-2 mx-auto">
								<span class="input-group-text" id="addon-wrapping"><i class="icon-user"></i></span>
								<label class="visually-hidden" for="inputName">Nazwa użytkownika</label>
								<input class="form-control" type="text" placeholder="Użytkownik" id="inputName" name="name" value="{{ user.name }}" aria-label="Username" aria-describedby="addon-wrapping" autofocus required />
							</div>
				
							<div class="input-group my-2 mx-auto">
								<span class="input-group-text" id="addon-wrapping"><i class="icon-mail"></i></span>
								<label class="visually-hidden" for="inputEmail">E-mail</label>
								<input class="form-control" type="email" placeholder="Adres e-mail" id="inputEmail" name="email" value="{{ user.email }}" aria-label="Email" aria-describedby="addon-wrapping" required />
							</div>
						
							<div class="input-group my-2 mx-auto" style="position: relative;">
								<span class="input-group-text" id="addon-wrapping"><i class="icon-lock"></i></span>
								<label class="visually-hidden" for="inputPassword">Hasło</label>
								<input class="form-control" type="password" placeholder="Hasło" id="inputPassword" name="password" aria-label="Password" aria-describedby="addon-wrapping" required />
								<span class="input-group-text position-absolute end-0" style="height: 40px; margin-right:-30px;"><i class="fa-solid fa-eye" id="eye" style="cursor: pointer;"></i></span>
							</div>
		
							{% for message in flash_messages %}
								<div class="alert text-center alert-{{ message.type }}"> 
									{{ message.body }}
								</div>
							{% endfor %}
		
							<div class="row mx-auto justify-content-center">
								<button type="submit" style="width: 240px;">Zarejestruj</button>
							</div>
						
						</form>
					</div>
					
				</section>
			</div>
		</div>
	</main>

{% endblock %}
