{% extends 'base.html' %}

{% block title %}Menu{% endblock %}

{% block body %}
			
	<nav class="navbar mt-4 navbar-expand-lg navbar-dark">
		
		<button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="Przełącznik nawigacji">
			<span class="navbar-toggler-icon"></span>
		</button>
		
		<div class="collapse navbar-collapse" id="mainmenu">
		
			<ul class="navbar-nav mx-auto">
			
				<li class="nav-item">
					<a class="nav-link active" href="/mainmenu"><i class="icon-home"> Strona główna </i></a>
				</li>
				
				<li class="nav-item">
					<a class="nav-link" href="/income"><i class="icon-money"> Dodaj przychód </i></a>
				</li>
				
				<li class="nav-item">
					<a class="nav-link" href="/expense"><i class="icon-basket"> Dodaj wydatek </i></a>
				</li>
				
				<li class="nav-item">
					<a class="nav-link" href="/balance"><i class="icon-chart-bar"> Przeglądaj bilans </i></a>
				</li>
				
				<li class="nav-item">
					<a class="nav-link" href="/settings"><i class="icon-wrench"> Ustawienia </i></a>
				</li>
				
				<li class="nav-item">
					<a class="nav-link" href="/logout"><i class="icon-logout"> Wyloguj ({{ current_user.name }}) </i></a>
				</li>
				
			</ul>
		
		</div>
		
	</nav>
	
	<main>
	
		<div class="container mt-3 text-center">
		{% for message in flash_messages %}
			<div class="alert alert-{{ message.type }} text-center">
				{{ message.body }}
			</div>
		{% endfor %}
			<h2 class="mt-5 mb-3">Witaj {{ current_user.name }}, co dziś robimy?</h2>
			<img class="imagemenu" style="width: 335px; height: 335px;" src="/css/img/imgmenu.jpg" alt="">
			<h3 class="mt-3">Zaczynajmy!</h3>
		</div>
	
	</main>

{% endblock %}
