{% extends 'base.html' %}

{% block title %}Menu{% endblock %}

{% block body %}

	<header>
			<div class="container text-white text-center text-uppercase">
				<div class="pt-4 h1 font-weight-bold">Osobisty Menadżer Budżetu</div>
				<div class="motto">... żyj po swojemu <i class="icon-smile"></i></div>
			</div>
		</header>
			
		<nav class="navbar sticky mt-4 navbar-expand-lg navbar-dark">
			
			<button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="Przełącznik nawigacji">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<div class="collapse navbar-collapse" id="mainmenu">
			
				<ul class="navbar-nav mx-auto">
				
					<li class="nav-item active">
						<a class="nav-link" href="/MainMenu"><i class="icon-home"> Strona główna </i></a>
					</li>
					
					<li class="nav-item">
						<a class="nav-link" href="/Income"><i class="icon-money"> Dodaj przychód </i></a>
					</li>
					
					<li class="nav-item">
						<a class="nav-link" href="/Expense"><i class="icon-basket"> Dodaj wydatek </i></a>
					</li>
					
					<li class="nav-item">
						<a class="nav-link" href="balance.php"><i class="icon-chart-bar"> Przeglądaj bilans </i></a>
					</li>
					
					<li class="nav-item">
						<a class="nav-link" href="#"><i class="icon-wrench"> Ustawienia </i></a>
					</li>
					
					<li class="nav-item">
						<a class="nav-link" href="/logout"><i class="icon-logout"> Wyloguj ({{ current_user.username }}) </i></a>
					</li>
					
				</ul>
			
			</div>
			
		</nav>
		
		<main>
		
			<div class="container mt-3 text-center">
			{% for message in flash_messages %}
				<div class="alert alert-{{ message.type }} text-center">
					{{ message.body }}
				</div>
			{% endfor %}
				<h2 class="mt-5 mb-3">Witaj {{ current_user.username }}, co dziś robimy?</h2>
				<img class="imagemenu" style="width: 335px; height: 335px;" src="/css/img/imgmenu.jpg" alt="">
				<h3 class="mt-3">Zaczynajmy!</h3>
			</div>
		
		</main>
		
		<footer class="container-fluid p-3 mt-4 text-center text-white">
			Wszelkie prawa zastrzeżone &copy; 2020
		</footer>

{% endblock %}
