{% extends "base.html" %}

{% block title %}Zmiana hasła{% endblock %}

{% block body %}

    <main>
			<div class="container col-lg-7 text-center">
				<div class="row m-0">
					<section id="text" class="col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-0 col-xl-5 offset-xl-1 bg-ligh mt-4 mx-auto text-center">
						<h3 class="fs-4 fw-bold">Kontrola budżetu? Tak!</h3>
						<p class="mb-2"><b>Osobisty Menadżer Budżetu</b> jest to program stworzony z myślą o osobach, które kontrolują swoje fianse na papierze, bądź chcą dopiero zacząć. Jeśli męczy Cię już ciągłe spisywanie swoich przychodów i wydatków na kolejnych kartkach papieru, a pod koniec miesiąca i tak jest Ci ciężko oszacować czy w danym miesiącu jesteś na plusie czy na minusie, to ten program jest właśnie dla Ciebie! </p><p>Przecież niekontrolowane wydatki to przypuszczalne oszędności :-)</p>

						<h3 class="fs-4 fw-bold">Jak to działa?</h3>
						<p>Bardzo prosto. Logujemy się na swoje konto, a następnie z menu głównego wybieramy odpowiednią zakładkę. <br/>Chcąc dodać przychód do naszych finansów, wybieramy <b>"Dodaj przychód"</b>, zaznaczamy odpowiednią datę oraz rodzaj przychodu. <br/>Jeśli jest to wydatek klikamy <b>"Dodaj wydatek"</b> i wypełniamy analogicznie jak przy przychodzie. <br/>Natomiast, jeżeli interesuje nas zestawienie przychodów i rozchodów wybieramy <b>"Przeglądaj bilans"</b>. Tam korzystając z opcji wyboru daty możemy w prosty sposób dowiedzieć się czy w interesującym nas okresie nasze finanse są na plusie czy na minusie, no i przede wszystkim <b>ILE</b> ta kwota wynosi.</p> 
					</section>
					
					<section class="row content col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-0 col-xl-5 offset-xl-1 bg-white my-auto mx-auto">
					
						<div class="mx-auto mt-4 mb-2">			
								<div class="selected" style="width: 280px;"><h3 class="fs-5 fw-bold">Zmiana hasła</h3></div>	
						</div>
						
							<div class="mx-auto justify-content-center text-center">
								
								<p>Link do zmiany hasła wygasł lub jest nieprawidłowy, proszę kliknij <a href="/password/forgot">tutaj</a> aby wysłać ponownie. </p>
								
							</div>
													
					</section>
				</div>
			</div>
		</main>

{% endblock %}
