{% extends 'base.html' %}

{% block title %}Bilans{% endblock %}

{% block body %}
			
	<nav class="navbar mt-4 navbar-expand-lg navbar-dark">
	
		<button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="Przełącznik nawigacji">
			<span class="navbar-toggler-icon"></span>
		</button>
		
		<div class="collapse navbar-collapse" id="mainmenu">
		
			<ul class="navbar-nav mx-auto">
			
				<li class="nav-item">
					<a class="nav-link" href="/mainmenu"><i class="icon-home"> Strona główna </i></a>
				</li>
				
				<li class="nav-item">
					<a class="nav-link" href="/income"><i class="icon-money"> Dodaj przychód </i></a>
				</li>
				
				<li class="nav-item">
					<a class="nav-link" href="/expense"><i class="icon-basket"> Dodaj wydatek </i></a>
				</li>
				
				<li class="nav-item">
					<a class="nav-link active" href="/balance"><i class="icon-chart-bar"> Przeglądaj bilans </i></a>
				</li>
				
				<li class="nav-item">
					<a class="nav-link" href="/settings"><i class="icon-wrench"> Ustawienia </i></a>
				</li>
				
				<li class="nav-item">
					<a class="nav-link" href="/logout"><i class="icon-logout"> Wyloguj ({{ current_user.name }}) </i></a>
				</li>
				
			</ul>
		
		</div>
			
		<div class="nav-item dropdown me-4">
			<button class="dropbtn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" id="submenu" aria-haspopup="true"> Wybierz okres </button>
				<div class="dropdown-content dropdown-menu m-0" style="background-color: #87CEFA;" aria-labelledby="submenu">
				
					<a class="dropdown-item" href="/balance"> Bieżący miesiąc </a>
					<a class="dropdown-item" href="/poprzedni-miesiac"> Poprzedni miesiąc </a>
					<a class="dropdown-item" href="/biezacy-rok"> Bieżący rok </a>
					
					<div class="dropdown-divider"></div>
					
					<a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#chooseCustom"> Niestandardowy </a>
				
				</div>
		</div>
		
	</nav>
	
	<main>
		<article>
			<div class="container col-lg-7 text-center">
				<div class="row">
					<div class="mx-auto text-center mb-4">

					{% for message in flash_messages %}
						<div class="alert alert-{{ message.type }} text-center">
							{{ message.body }}
						</div>
					{% endfor %}
						
						<h2 class="fw-bold mt-4">{{ caption }}</h2>
					</div>	
					<div class="container">
					
						<div class="row">
							<div class="col-md-6">
								<table class="table table-sm table-striped table-info table-bordered border-info text-center">
								
									{% if incomes == NULL %}
									
										<thead><tr><th scope="col" colspan="3">Przychody</th></tr>
										<tr><td>Brak przychodów w tym okresie</td></tr></thead>
										
									{% else %}
										
										<thead><tr><th scope="col" colspan="3">Przychody</th></tr>
										<tr><th scope="col">Lp</th><th scope="col">Kategoria</th><th scope="col">Kwota [zł]</th></tr></thead>
										<tbody>
										
										{% set ordinalNumber = 0 %}
										{% set totalIncome = 0 %}
										
										{% for income in incomes %}
										
											{% set ordinalNumber = ordinalNumber + 1 %}
											{% set totalIncome = totalIncome + income[1] %}
											
											<tr><th scope="row"> {{ ordinalNumber }}</th>
											<td>{{ income[0] }}</td><td>{{ income[1] }}</td></tr>
											
										{% endfor %}
										
										<tr><th scope="col" colspan="2">Suma:</th><td class="fw-bold">{{ (totalIncome) | number_format(2) }}</td></tr>
										</tbody>
									
									{% endif %}
								
								</table>
							</div>
								
							<div class="col-md-6">
								<table class="table table-sm table-striped table-secondary table-bordered border-secondary text-center">
									
									{% if expenses == NULL %}
									
										<thead><tr><th scope="col" colspan="3">Wydatki</th></tr>
										<tr><td>Brak wydatków w tym okresie</td></tr></thead>
										
									{% else %}
										
										<thead><tr><th scope="col" colspan="3">Wydatki</th></tr>
										<tr><th scope="col">Lp</th><th scope="col">Kategoria</th><th scope="col">Kwota [zł]</th></tr></thead>
										<tbody>
										
										{% set ordinalNumber = 0 %}
										{% set totalExpense = 0 %}
										
										{% for expense in expenses %}
										
											{% set ordinalNumber = ordinalNumber + 1 %}
											{% set totalExpense = totalExpense + expense[1] %}
											
											<tr><th scope="row"> {{ ordinalNumber }}</th>
											<td>{{ expense[0] }}</td><td>{{ expense[1] }}</td></tr>
											
										{% endfor %}
										
										<tr><th scope="col" colspan="2">Suma:</th><td class="fw-bold">{{ (totalExpense) | number_format(2) }}</td></tr>
										</tbody>
									
									{% endif %}
									
								</table>
							</div>
						</div>
								
						<div class="row ">
							<div class="col-md-8 offset-md-2">
								
								{% if ((incomes == NULL) and (expenses == NULL)) %} 
									{% set balance = NULL %}
								{% elseif ((incomes > NUll) and (expenses == NULL)) %}
									{% set balance = (totalIncome - 0) | number_format(2) %}
								{% elseif ((incomes == NULL) and (expenses > NULL)) %}
									 {% set balance = (0 - totalExpense) | number_format(2)	%}						
								{% else %}
									{% set balance = (totalIncome - totalExpense) | number_format(2) %}
								{% endif %}
									
								{% if balance == NULL %}
									
									
								{% elseif balance > 0 %}
									<table class="table table-sm table-striped table-success table-bordered border-success text-center">
									<tbody><tr><th>Bilans [zł]:</th><th> {{ balance }} </th></tr>
									<tr><th colspan="2">Gratulacje. Świetnie zarządzasz finansami!</th></tr></tbody>
									</table>
								{% elseif balance < 0 %}
									<table class="table table-sm table-striped table-danger table-bordered border-danger text-center">
									<tbody><tr><th>Bilans [zł]:</th><th> {{ balance }} </th></tr>
									<tr><th colspan="2">Uważaj wpadasz w długi!</th></tr></tbody>
									</table>
								{% elseif balance == 0 %}
									<table class="table table-sm table-striped table-warning table-bordered border-warning text-center">
									<tbody><tr><th>Bilans [zł]:</th><th> {{ balance }} </th></tr>
									<tr><th colspan="2">Twoje przychody i wydatki się równoważą!</th></tr></tbody>
									</table>
								{% endif %}
								
							</div>
						</div>
						
						<div class="row">
							<div class="col-12">
								<table class="table table-sm table-striped table-info table-bordered border-info text-center">
									
									{% if incomesDetails == NULL %}
									
										<thead><tr><th scope="col" colspan="5">Szczegółowe zestawienie przychodów</th></tr>
										<tr><td>Brak przychodów w tym okresie</td></tr></thead>
										
									{% else %}
										
										<thead><tr><th scope="col" colspan="5">Szczegółowe zestawienie przychodów</th></tr>
										<tr><th scope="col">Lp</th><th scope="col">Data</th><th scope="col">Kategoria</th><th scope="col">Kwota [zł]</th><th scope="col">Komentarz</th></tr></thead>
										<tbody>
										
										{% set ordinalNumber = 0 %}
										
										{% for detail in incomesDetails %}
										
											{% set ordinalNumber = ordinalNumber + 1 %}
											
											<tr><th scope="row">{{ ordinalNumber }}</th>
											<td>{{ detail[0] }}</td><td>{{ detail[1] }}</td><td>{{ detail[2] }}</td><td>{{ detail[3] }}</td></tr></tbody>
											
										{% endfor %}
										
									{% endif %}
									
								</table>
							</div>
						</div>
						<div class="row">
							<div class="col-12">
								<table class="table table-sm table-striped table-secondary table-bordered border-secondary text-center">
								  
								  {% if expensesDetails == NULL %}
									
										<thead><tr><th scope="col" colspan="6">Szczegółowe zestawienie wydatków</th></tr>
										<tr><td>Brak wydatków w tym okresie</td></tr></thead>
										
									{% else %}
										
										<thead><tr><th scope="col" colspan="6">Szczegółowe zestawienie wydatków</th></tr>
										<tr><th scope="col">Lp</th><th scope="col">Data</th><th scope="col">Kategoria</th><th scope="col">Sposób płatności</th><th scope="col">Kwota [zł]</th><th scope="col">Komentarz</th></tr></thead>
										<tbody>
										
										{% set ordinalNumber = 0 %}
										
										{% for detail in expensesDetails %}
										
											{% set ordinalNumber = ordinalNumber + 1 %}
											
											<tr><th scope="row">{{ ordinalNumber }}</th>
											<td>{{ detail[0] }}</td><td>{{ detail[1] }}</td><td>{{ detail[2] }}</td><td>{{ detail[3] }}</td><td>{{ detail[4] }}</td></tr></tbody>
											
										{% endfor %}
										
									{% endif %}
								  
								</table>
							</div>
						</div>
						
						<div class="row">
							
							{% if ((expenses == NULL) or (totalExpense == 0)) %}
								
							{% else %}
								<div id="chartContainer" style="height: 370px; width: 100%;"></div>
							{% endif %}
							
						</div>
						
					</div>
				</div>
			</div>
		</article>
		
		<section>
			
			<div class="modal fade" id="chooseCustom" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="staticBackdropLabel">Wskaż okres jaki Cię interesuje</h5>
							<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
							</button>
						</div>
						
						<form class="text-center" action="/niestandardowy" method="post">
							<div class="modal-body">
								
								<div class="col mx-auto">
									<div class="input-group mx-auto mb-3" style="width: 300px;">
										<span class="text-dark my-auto mx-3 fw-bold">Od:</span>
										<span class="input-group-text"><i class="icon-calendar"></i></span>
										<label class="visually-hidden">Data</label>
										<input type="date" id="date1" name="date1" class="form-control col-sm-8" aria-label="Data" required>
									</div>
							
									<div class="input-group mx-auto" style="width: 300px;">
										<span class="text-dark my-auto mx-3 fw-bold">Do:</span>
										<span class="input-group-text"><i class="icon-calendar"></i></span>
										<label class="visually-hidden">Data</label>
										<input type="date" id="date" name="date2" class="form-control col-sm-8" aria-label="Data" required>
									</div>
								</div>
								
							</div>
							
							<div class="modal-footer justify-content-center">
								<button id="anulujModal" type="reset" class="col-3 mx-auto" data-bs-dismiss="modal">Anuluj</button>
								<button id="zatwierdz" type="submit" class="col-3 mx-auto">Zatwierdź</button>
							</div>
						
						</form>
					</div>
				</div>
			</div>
			
		</section>
	</main>
	
	<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
	<script type="text/javascript">
		window.onload = function () {
		 
			var chart = new CanvasJS.Chart("chartContainer", {
				
				backgroundColor: false,
				animationEnabled: true,
				title: {
					text: "Wydatki"
				},
				theme: "light2",
				data: [{
					type: "pie",
					startAngle: 180,
					yValueFormatString: "0.00 PLN",
					indexLabel: "{label} {y}",
					dataPoints: [
						{% for value in expenses %}
							{ label: {{ value[0]|json_encode()|raw }}, y: {{ value[1]|json_encode()|raw }} },
						{% endfor %}
					]
				}]
			});
			chart.render();
			 
		};
	</script>

{% endblock %}