{% extends 'base.html' %}

{% block title %}Przychód{% endblock %}

{% block body %}
	
	<nav class="navbar mt-4 navbar-expand-lg navbar-dark">
		
		<button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="Przełącznik nawigacji">
			<span class="navbar-toggler-icon"></span>
		</button>
		
		<div class="collapse navbar-collapse" id="mainmenu">
		
			<ul class="navbar-nav mx-auto">
			
				<li class="nav-item">
					<a class="nav-link" href="/mainmenu"><i class="icon-home"> Strona główna </i></a>
				</li>
				
				<li class="nav-item">
					<a class="nav-link active" href="/income"><i class="icon-money"> Dodaj przychód </i></a>
				</li>
				
				<li class="nav-item">
					<a class="nav-link" href="/expense"><i class="icon-basket"> Dodaj wydatek </i></a>
				</li>
				
				<li class="nav-item">
					<a class="nav-link" href="/balance"><i class="icon-chart-bar"> Przeglądaj bilans </i></a>
				</li>
				
				<li class="nav-item">
					<a class="nav-link" href="/settings"><i class="icon-wrench"> Ustawienia </i></a>
				</li>
				
				<li class="nav-item">
					<a class="nav-link" href="/logout"><i class="icon-logout"> Wyloguj ({{ current_user.name }}) </i></a>
				</li>
				
			</ul>
		
		</div>
		
	</nav>
	
	<main>
		
		<article>
			<div class="container col-lg-7 text-center">
				<div class="row">
					<div class="mx-auto">
						{% for message in flash_messages %}
							<div class="alert alert-{{ message.type }} text-center">
								{{ message.body }}
							</div>
						{% endfor %}
						<form class="text-center" method="post" action="/Income/new">
							<h2 class="fw-bold mt-4">Dodaj przychód</h2>

							<div class="input-group mx-auto mb-2 mt-4" style="width: 350px;">
								<span class="input-group-text"><i class="icon-money-1"></i></span>
								<label class="visually-hidden">Kwota</label>
								<input class="form-control" type="number" name="amount" min="0" max="999999.99" step="0.01" placeholder="Podaj kwotę w zł" aria-label="Kwota" required autofocus value="{{ amount }}">
							</div>
					
							<div class="input-group mx-auto mb-2 mt-4" style="width: 350px;">
								<span class="input-group-text"><i class="icon-calendar"></i></span>
								<label class="visually-hidden">Data</label>
								<input class="form-control" type="date" id="date" name="date" aria-label="Data" required value="{{ date }}">
							</div>

							<fieldset class="mx-auto mt-3">
								
								<legend class="fw-bold">Kategoria:</legend>
								
								{% for category in incomesCategories %}
									<div class="py-2">
										<input type="radio" name="category" id="category{{ category.id }}" value="{{ category.id }}" required>
										<label for="category{{ category.id }}"> {{ category.name }} </label>
									</div>
								{% endfor %}
								
							</fieldset>

							<div class="mx-auto mt-3 mb-1">
								<legend class="fw-bold">Komentarz (opcjonalnie):</legend>
								<textarea name="comment" class="col-9" rows="2" cols="50" style="resize: none;">{{ comment }}</textarea>
							</div>
							
							<div class="row mx-auto">
								<button id="anuluj" type="reset" class="col-3 mx-auto">Anuluj</button>
								<button type="submit" class="col-3 mx-auto">Dodaj</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</article>
		
	</main>

{% endblock %}